*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 12vh;
    background:rgb(255, 149, 88,0.3);
    color: white; 
    display: flex; justify-content: space-between;
    align-items: center;

}
nav .logo{
    width: 25%; text-align: center;
}
nav .menu{
    width: 40%;
    display: flex;

}
nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
nav .menu a.active{
    color: rgb(129, 243, 22);
}
nav .menu a:hover{
    color: rgb(129, 243, 22); 
}
main{
    width: 100%;
    height: 88vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section{
color: blanchedalmond;

}

section h3{
    font-size: 33px;
    font-weight: 230;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    text-transform: capitalize;
}
section h1{
 margin: 19x 0 10px 0;
 font-size: 58px;
 font-family: 'Baloo Bhai 2', cursive;
 font-weight: 900;
 text-shadow: 1px 1px 5px black;
}
section p{
    font-size: 20px;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s;
}
section p{
    margin: auto;
    text-align: center;
    width: 500px;
}

.btn2{
    background-color: rgb(129, 243, 22,0.15);
    color:rgb(255, 227, 233);
}
.btn2:hover{
    background-color: rgb(129, 243, 22);
    color:rgb(255, 227, 233);
}
.animate__heartBeat
{
    animation-iteration-count:infinite;

}
.change:after{
    content: '';
    animation: changetext 15s infinite linear;
    color: rgb(129, 243, 22);
}
@keyframes changetext
{
    0% {content: "Grace";}
    15% {content: "Compassion";}
    30% {content: "Mankind";}
    45% {content: "Peace";}
    60% {content: "Love";}
    75% {content: "Solidarity";}
    85% {content: "Hope";}
    100% {content: "Happiness";}
}